<div class="center jumbotron sg-home">
  <h1>Join the fight for Asgard today!</h1>

  <h2>
    A
    <a href="http://www.hawkwargames.com/pages/dropzone-commander/" target="_blank">Drop Zone Commander</a>
    online campaign.
  </h2>

  <%= link_to "Report results here!", new_game_path, class: "btn btn-lg btn-primary"%>
</div>

