<p id="notice"><%= notice %></p>

<h1>Campaign Map</h1>

<script type="text/javascript" src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>
<script>
  jQuery(function() {
    jQuery('#campaignmap').maphilight();
  });
</script>

<div class="row">
  <div class="col-lg-12 map">
    <%= image_tag('map.jpg', :class => 'map', :id => 'campaignmap', :usemap => '#campaignmapAreas') %>

    <map name="campaignmapAreas" id="campaignmapAreas">
      <area shape="rect" coords="958,953,960,955" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_77091" />
      <area  alt="" title="" href="/locations/1" shape="poly"
             data-maphilight="{'strokeColor':'0000ff','strokeWidth':5,'fillColor':'00ff00','fillOpacity':0.6}"
             coords="500,126,524,122,545,119,556,144,555,165,541,180,531,188,526,190,523,200,514,207,504,210,489,212,482,207,493,197,489,191,484,185,473,181,470,176,473,166,475,156,482,141" style="outline:none;" target="_self"
      />
      <area  alt="" title="" href="/locations/2" shape="poly"
             data-maphilight="{'strokeColor':'0000ff','strokeWidth':5,'fillColor':'00ff00','fillOpacity':0.6}"
             coords="645,323,636,323,628,323,615,329,610,340,611,356,625,362,637,366,645,366,645,380,666,383,679,379,689,384,690,371,688,352,688,344,696,338,699,331,688,325,679,318" style="outline:none;" target="_self"
      />
    </map>
  </div>
</div>