<p id="notice"><%= notice %></p>

<h1>Campaign Map</h1>

<script type="text/javascript" src="maphilight.js"></script>
<script>
  jQuery(function() {
    jQuery('#campaignmap').maphilight();
  });
</script>

<div class="row">
  <div class="col-lg-12 map">
    <%= image_tag('map1.png', :class => 'map', :id => 'campaignmap', :usemap => '#campaignmapAreas') %>
    <map name="campaignmapAreas" id="campaignmapAreas">

      <area  href="/locations/1" shape="poly"
             coords="68,208,74,198,101,183,166,157,242,116,295,100,319,117,336,136,341,166,338,200,324,236,322,260,320,287,308,310,288,317,266,289,228,262,178,239,143,224,85,217"
             style="outline:none;"
             target="_self"
             data-maphilight='{"stroke":false, "fillColor":"1d6300", "fillOpacity":0.2}'
      />
      <area  href="/locations/1" shape="poly"
             coords="306,93,315,110,329,128,344,143,341,170,339,200,328,223,320,234,321,252,322,276,318,287,312,300,297,324,286,339,284,340,293,363,303,382,316,398,338,409,357,424,366,433,382,445,402,467,410,488,428,498,440,487,451,470,469,141,425,123,386,98,355,66,337,52,319,46,283,47,266,58,250,71,230,81,216,95,211,105,207,115,237,114,265,101,294,99"
             style="outline:none;"
             target="_self"
             data-maphilight='{"stroke":false, "fillColor":"1d6300", "fillOpacity":0.2}'
      />
      <area  href="/locations/1" shape="poly"
             coords="619,348,626,186,682,190,706,203,718,204,740,190,753,178,763,179,742,80,718,77,698,74,675,73,649,84,627,93,595,105,558,121,531,134,505,133,489,136,469,138,454,462,482,451,516,433,553,396,582,376"
             style="outline:none;"
             target="_self"
             data-maphilight='{"stroke":false, "fillColor":"1d6300", "fillOpacity":0.2}'
      />
      <area  href="/locations/1" shape="poly"
             coords="366,440,359,454,346,456,331,457,315,456,308,462,308,481,298,484,283,480,272,469,261,463,256,456,250,453,248,456,251,462,251,470,249,475,287,498,277,511,217,483,211,491,292,539,297,556,309,569,321,569,335,560,341,553,353,545,360,529,347,500,342,488,370,458,374,449"
             style="outline:none;"
             target="_self"
             data-maphilight='{"stroke":false, "fillColor":"1d6300", "fillOpacity":0.2}'
      />
      <area  href="/locations/1" shape="poly"
             coords="617,356,626,187,685,192,700,202,709,210,718,207,731,199,745,184,761,178,744,80,744,74,763,68,787,62,817,61,843,62,845,49,864,48,887,42,906,33,920,25,951,9,965,11,969,20,976,29,966,36,967,44,1098,20,1099,161,1089,170,1076,166,1060,164,1046,176,1013,192,983,202,946,217,924,238,892,257,863,278,838,301,811,325,792,347,777,361,777,377,770,388,761,405,744,409,742,415,742,424,735,432,728,425,719,426,716,432,710,437,705,437,706,427,708,407,712,394,715,378,714,366,706,357,701,349,684,342,674,340,647,342,634,348"
             style="outline:none;"
             target="_self"
             data-maphilight='{"stroke":false, "fillColor":"1d6300", "fillOpacity":0.2}'
      />
    </map>
  </div>
</div>